body {
    background-color: rgba(13, 10, 10, 0.844);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.tshirt-box,
.color-box {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

h1 {
    animation: Animate-text 10s infinite;
    text-shadow: 0px 0px 10px currentColor;
}

img {
    width: 200px;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s ease-in-out;
}

.color-box button {
    width: 20px;
    height: 100px;
    border: 2px solid black;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s ease-in-out;
}

.color-pink {
    color: pink;
    background-color: pink;
}
.color-blue {
    color: blue;
    background-color: blue;
}
.color-brown {
    color: brown;
    background-color: brown;
}

.color-pink:hover,
.color-blue:hover,
.color-brown:hover {
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 10px currentColor;
    cursor: pointer;
}

@keyframes Animate-text {
    
}