body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgba(6, 5, 16, 0.803);
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.card-list {
    display: flex;
    padding: 3rem;
}

.card {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 5rem #000;

    transition: .2s;
}

.card-header {
    margin-top: 3rem;
}

.category-card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;

    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 5rem #000;
}

.category-card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(130px);
}

.card:not(:first-child) {
    margin-left: -130px;
}

p {
    color: aqua;
}

h2 {
    color: #ff8084;
    transition: 2s ease-in-out;
}

h1 {
    color: #e6191f;
}

h1 , h2 , p {
    text-shadow: 0 0 2rem currentColor;
}

h2:hover {
    transform: translateY(-3rem);
    transition: 2s ease-in-out;
}